In [47]:
import pandas as pd
import os

os.chdir(r'C:\Users\jf79\Repos\REAP-Analytics')
import myfuncs.myfuncs as mf

import warnings
warnings.filterwarnings('ignore')

cwd = r'C:\Users\jf79\OneDrive - Office Shared Service\Sharepoint Links\BI - Corporate - Interactions Data'
os.chdir(cwd)
mf.read_directory()

master_data = pd.read_csv('Netcall Interactions Master Data.csv',low_memory=False)

Your Current Directory is: C:\Users\jf79\OneDrive - Office Shared Service\Sharepoint Links\BI - Corporate - Interactions Data
Files in: ['desktop.ini', 'Interactions Feb 2023 - Apr 2024 (excl Cust Serv)', 'Interactions Feb 2025 (excl Cust Serv)', 'Interactions Jan 2022 - Dec 2022 (excl Cust Serv)', 'Interactions Jan 2024 - Jun 2024 (excl Cust Serv)', 'Interactions Jun 24 - Jan 25 (excl Cust Serv)', 'Interactions_Jan 2023 (LIMITED GROUPS)', 'Netcall Dashboard Data.csv', 'Netcall Interactions Master Data.csv']

In [48]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

master_df = master_data.copy()

columns_to_drop = [
    'customername','assistedby',
    'casereference','ipaddress'
]
master_df.drop(columns=columns_to_drop, inplace=True)

master_df['nullcount'] = master_df.isna().sum(axis=1)
master_df.sort_values(by=['interactionid','nullcount'], inplace=True)
drop = master_df[master_df['interactionid'].duplicated(keep='first')]
master_df.drop(drop.index, inplace=True)
master_df.drop(columns='nullcount', inplace=True)

columns_to_change = ['timeended', 'timequeued']
for column in columns_to_change:
    master_df[column] = pd.to_datetime(master_df[column])

master_df['queuetime'] = master_df['timeended'] - master_df['timequeued']

columns_to_change = [
    'duration','talktime','holdtime',
    'wrapupduration','agenthandlingtime'
]
master_df[columns_to_change] = master_df[columns_to_change].apply(lambda x: x.str.replace(r'(?<!^)-', '', regex=True))
for column in columns_to_change:
    master_df[column] = pd.to_timedelta(master_df[column])

master_df['dateofqueue'] = master_df['timequeued'].dt.date
mf.validate_data(master_df)

#########################################################################################################################################################################################
DataFrame: None

,interactionid,groupname,type,direction,timequeued,timeended,queue,skill,agent,customercontact,queuetime,duration,talktime,holdtime,wrapupduration,agenthandlingtime,result,activitycode,transferredto,subject,conversationstarttime,conversationendtime,conversationduration,agentusername,agentid,forwarded,source,conversationid,Year,Month,dateofqueue
0,2640671,Repair CSC,Email,Inbound,2022-01-01 02:15:00,2022-01-04 16:01:00,Repairs customer e-mail,E-Mail Responses - Customer,Georgia St Rose,Gbenga.Osunkoya@lbhf.gov.uk,3 days 13:46:00,0 days 00:04:05,0 days 00:04:05,0 days 00:00:00,0 days 00:00:04,0 days 00:04:09,Replied,Repair Status,NaN,RE: Inspection item Requires Attention - (BLK) 1-180 Poynter House,01/01/2022 02:15,04/01/2022 16:01,85:46:28,4861,4861.0,0.0,Email,2516337,2022,1,2022-01-01
1485945,2640673,Customer Services,Email,Inbound,2022-01-01 03:05:38,2022-01-04 09:09:58,Electoral Services,Electoral Services Email,Gillian Hoyle,mccatigan@gmail.com,3 days 06:04:20,0 days 00:00:23,0 days 00:00:22,0 days 00:00:01,0 days 00:00:00,0 days 00:00:22,Other,NaN,NaN,Register to Vote,01/01/2022 03:05:38,04/01/2022 09:09:58,78:04:20,NaN,NaN,1.0,NaN,2516339,2022,1,2022-01-01
1,2640679,Repair CSC,Email,Inbound,2022-01-01 06:14:00,2022-01-04 16:05:00,Repairs Internal e-mail,E-mail Responses - Internal,Georgia St Rose,Baboucarr.Gaye@lbhf.gov.uk,3 days 09:51:00,0 days 00:03:35,0 days 00:03:34,0 days 00:00:01,0 days 00:00:09,0 days 00:03:43,Replied,Repair Status,NaN,RE: Norland House Electrical Failure (Job Ref. 1126163/1 emergency within 4hrs),01/01/2022 06:14,04/01/2022 16:05,81:51:20,4861,4861.0,0.0,Email,2516345,2022,1,2022-01-01
2,2640681,Repair CSC,Email,Inbound,2022-01-01 09:08:00,2022-01-04 16:05:00,Repairs Internal e-mail,E-mail Responses - Internal,Emma Hicks,orbisreports@orbisprotect.com,3 days 06:57:00,0 days 00:03:06,0 days 00:03:06,0 days 00:00:00,0 days 00:00:16,0 days 00:03:22,Transferred,OOH - Related,Mehul Patel,[Orbis Protect] - Unallocated Cases,01/01/2022 09:08,04/01/2022 16:17,79:09:21,971,971.0,0.0,Email,2516347,2022,1,2022-01-01
3,2640683,Repair CSC,Email,Inbound,2022-01-01 09:38:00,2022-01-04 16:19:00,Repairs customer e-mail,E-Mail Responses - Customer,Emma Hicks,noreply@lbhf.gov.uk,3 days 06:41:00,0 days 00:14:11,0 days 00:14:10,0 days 00:00:01,0 days 00:01:00,0 days 00:15:10,Replied,Repair Status,NaN,Form submission from: Housing repair notification form,01/01/2022 09:38,04/01/2022 16:19,78:41:00,971,971.0,0.0,Email,2516349,2022,1,2022-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2466920,7868191,Customer Services,Call,Inbound,2025-03-26 17:18:31,2025-03-26 17:19:11,Cost of Living Crisis,Cost of Living Crisis,Faraaz Sharif,07547764902,0 days 00:00:40,0 days 00:00:08,0 days 00:00:08,0 days 00:00:00,0 days 00:01:05,0 days 00:01:13,Answered,New Help Requested,NaN,NaN,26/03/2025 17:18:31,26/03/2025 17:19:11,00:00:40,NaN,NaN,NaN,NaN,7495647,2025,3,2025-03-26
2466921,7868197,Customer Services,Call,Inbound,2025-03-26 17:21:10,2025-03-26 17:24:20,Cost of Living Crisis,Cost of Living Crisis,Umar Rajput,07547764902,0 days 00:03:10,0 days 00:02:45,0 days 00:02:45,0 days 00:00:00,0 days 00:00:31,0 days 00:03:16,Answered,Cost of Living Payment Query,NaN,NaN,26/03/2025 17:21:10,26/03/2025 17:24:20,00:03:10,NaN,NaN,NaN,NaN,7495653,2025,3,2025-03-26
2466922,7868217,Customer Services,Call,Inbound,2025-03-26 17:34:11,2025-03-26 17:42:41,Cost of Living Crisis,Cost of Living Crisis,Umar Rajput,07526748900,0 days 00:08:30,0 days 00:07:58,0 days 00:07:58,0 days 00:00:00,0 days 00:00:31,0 days 00:08:29,Answered,Fuel Voucher New Request,NaN,NaN,26/03/2025 17:34:11,26/03/2025 17:42:41,00:08:30,NaN,NaN,NaN,NaN,7495673,2025,3,2025-03-26
2466923,7868219,Customer Services,Call,Outbound,2025-03-26 17:34:39,2025-03-26 17:35:24,Cost of Living Crisis,Cost of Living Crisis,Faraaz Sharif,07935591066,0 days 00:00:45,0 days 00:00:33,0 days 00:00:33,0 days 00:00:00,0 days 00:01:04,0 days 00:01:37,Answered,Follow Up,NaN,NaN,26/03/2025 17:34:39,26/03/2025 17:35:24,00:00:45,NaN,NaN,NaN,NaN,7495675,2025,3,2025-03-26
2466924,7868227,Customer Services,Call,Inbound,2025-03-26 17:41:38,2025-03-26 17:44:42,Cost of Living Crisis,Cost of Living Crisis,Faraaz Sharif,07459349121,0 days 00:03:04,0 days 00:02:44,0 days 00:02:44,0 days 00:00:00,0 days 00:00:30,0 days 00:03:14,Answered,Cost of Living Payment Query,NaN,NaN,26/03/2025 17:41:38,26/03/2025 17:44:42,00:03:04,NaN,NaN,NaN,NaN,7495683,2025,3,2025-03-26

Unique values per field:

               Field Name  No. of Unique Values
0           interactionid               2416955
1               groupname                    47
2                    type                     3
3               direction                     2
4              timequeued               1978922
5               timeended               1985770
6                   queue                   186
7                   skill                   198
8                   agent                   764
9         customercontact                337248
10              queuetime                119970
11               duration                 19555
12               talktime                  7054
13               holdtime                 17556
14         wrapupduration                  3029
15      agenthandlingtime                  7512
16                 result                    11
17           activitycode                   861
18          transferredto                  4227
19                subject                165410
20  conversationstarttime               1940776
21    conversationendtime               1957550
22   conversationduration                129141
23          agentusername                   651
24                agentid                   664
25              forwarded                     8
26                 source                    25
27         conversationid               2309812
28                   Year                     4
29                  Month                    12
30            dateofqueue                  1172

Number of duplicate rows:
0

<class 'pandas.core.frame.DataFrame'>
Index: 2416955 entries, 0 to 2466924
Data columns (total 31 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   interactionid          2416955 non-null  int64
 1   groupname              2416955 non-null  object
 2   type                   2416955 non-null  object
 3   direction              2416955 non-null  object
 4   timequeued             2416955 non-null  datetime64[ns]
 5   timeended              2416955 non-null  datetime64[ns]
 6   queue                  2416955 non-null  object
 7   skill                  2208663 non-null  object
 8   agent                  1935229 non-null  object
 9   customercontact        2410563 non-null  object
 10  queuetime              2416955 non-null  timedelta64[ns]
 11  duration               2416955 non-null  timedelta64[ns]
 12  talktime               2416955 non-null  timedelta64[ns]
 13  holdtime               2416955 non-null  timedelta64[ns]
 14  wrapupduration         2416955 non-null  timedelta64[ns]
 15  agenthandlingtime      2416955 non-null  timedelta64[ns]
 16  result                 2416955 non-null  object
 17  activitycode           1273372 non-null  object
 18  transferredto          253418 non-null   object
 19  subject                333647 non-null   object
 20  conversationstarttime  2416282 non-null  object
 21  conversationendtime    2415898 non-null  object
 22  conversationduration   2416955 non-null  object
 23  agentusername          1166680 non-null  object
 24  agentid                1166399 non-null  object
 25  forwarded              335553 non-null   float64
 26  source                 1485945 non-null  object
 27  conversationid         2416955 non-null  int64
 28  Year                   2416955 non-null  int64
 29  Month                  2416955 non-null  int64
 30  dateofqueue            2416955 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(4), object(18), timedelta64[ns](6)
memory usage: 590.1+ MB
DataFrame: df_name

None

Summary statistics:

,interactionid,timequeued,timeended,queuetime,duration,talktime,holdtime,wrapupduration,agenthandlingtime,forwarded,conversationid,Year,Month
count,2.416955e+06,2416955,2416955,2416955,2416955,2416955,2416955,2416955,2416955,335553.000000,2.416955e+06,2.416955e+06,2.416955e+06
mean,5.310758e+06,2023-07-30 07:31:14.692905472,2023-07-30 15:19:17.286065664,0 days 07:48:02.593160402,0 days 00:14:36.353180758,0 days 00:04:10.314948354,0 days 00:10:26.042081048,0 days 00:01:04.115512287,0 days 00:06:03.806511085,0.051333,5.043889e+06,2.023109e+03,6.128734e+00
min,2.640671e+06,2022-01-01 02:15:00,2022-01-04 07:40:00,-1 days +23:59:50,0 days 00:00:00,-2 days +18:03:37,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0.000000,2.516235e+06,2.022000e+03,1.000000e+00
25%,4.022934e+06,2022-10-04 13:51:19,2022-10-05 09:13:00,0 days 00:02:00,0 days 00:00:19,0 days 00:00:16,0 days 00:00:00,0 days 00:00:02,0 days 00:00:41,0.000000,3.839280e+06,2.022000e+03,3.000000e+00
50%,5.377321e+06,2023-08-01 09:01:25,2023-08-01 10:12:47,0 days 00:06:19,0 days 00:02:34,0 days 00:02:18,0 days 00:00:00,0 days 00:00:10,0 days 00:03:22,0.000000,5.084593e+06,2.023000e+03,6.000000e+00
75%,6.589012e+06,2024-05-10 00:19:31,2024-05-10 10:54:40,0 days 00:17:53,0 days 00:06:41,0 days 00:05:25,0 days 00:00:01,0 days 00:01:00,0 days 00:07:46,0.000000,6.246932e+06,2.024000e+03,9.000000e+00
max,7.868227e+06,2025-03-26 17:41:38,2025-03-26 17:44:42,220 days 03:09:28,41 days 23:37:12,3 days 14:20:23,41 days 23:37:04,3 days 16:24:39,3 days 16:25:12,7.000000,7.495683e+06,2.025000e+03,1.200000e+01
std,1.485515e+06,NaN,NaN,2 days 22:42:11.543271730,0 days 05:04:42.773821215,0 days 00:09:38.010247391,0 days 05:03:28.576120203,0 days 00:15:48.921340275,0 days 00:18:50.251326935,0.229845,1.405738e+06,9.308020e-01,3.468147e+00

End of data validation
#########################################################################################################################################################################################

In [49]:
aggregated_interactions = master_df.groupby(['direction','type','dateofqueue','groupname','queue','result']).agg(
    number_of_interactions = ('interactionid', 'count'),
    wrap_upduration = ('wrapupduration','sum'),
    queue_time = ('queuetime','sum'),
    duration = ('queuetime','sum'),
    talk_time = ('talktime','sum'),
    hold_time = ('holdtime','sum'),
    agent_handling_time = ('agenthandlingtime','sum'),
).reset_index()

columns_to_change = [
    'wrap_upduration','queue_time','duration',
    'talk_time','hold_time','agent_handling_time'
]
for column in columns_to_change:
    aggregated_interactions[column].fillna(pd.Timedelta(0), inplace=True)
    aggregated_interactions[column] = aggregated_interactions[column].apply(lambda x: x.total_seconds())

mf.validate_data(aggregated_interactions)

#########################################################################################################################################################################################
DataFrame: None

,direction,type,dateofqueue,groupname,queue,result,number_of_interactions,wrap_upduration,queue_time,duration,talk_time,hold_time,agent_handling_time
0,Inbound,Call,2022-01-04,ACE and Admissions,ACE and Admissions,Answered,15,4241.0,5580.0,5580.0,5349.0,0.0,9590.0
1,Inbound,Call,2022-01-04,Adult Education,General Enquiry,Abandoned,2,0.0,240.0,240.0,0.0,0.0,0.0
2,Inbound,Call,2022-01-04,Adult Education,General Enquiry,Answered,66,1954.0,25260.0,25260.0,23670.0,0.0,25624.0
3,Inbound,Call,2022-01-04,CAS Team 1 6945,CAS Team 1 6945 Queue,Answered,3,180.0,300.0,300.0,210.0,0.0,390.0
4,Inbound,Call,2022-01-04,CAS Team 2 6946,CAS Team 2 6946 Queue,Answered,3,180.0,360.0,360.0,295.0,0.0,475.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
196714,Outbound,Email,2025-03-24,Customer Services,Cost of Living Crisis Email,Sent,2,121.0,410.0,410.0,410.0,1.0,531.0
196715,Outbound,Email,2025-03-26,Customer Services,Cost of Living Crisis,Sent,1,0.0,6.0,6.0,5.0,1.0,5.0
196716,Outbound,Email,2025-03-26,Customer Services,Cost of Living Crisis Email,Deleted,2,69.0,138.0,138.0,138.0,0.0,207.0
196717,Outbound,Email,2025-03-26,Customer Services,Cost of Living Crisis Email,Sent,2,121.0,360.0,360.0,347.0,13.0,468.0
196718,Outbound,Messaging,2023-09-11,Customer Services,Cost of Living Crisis,Other,1,0.0,18.0,18.0,18.0,0.0,18.0

Unique values per field:

                Field Name  No. of Unique Values
0                direction                     2
1                     type                     3
2              dateofqueue                  1172
3                groupname                    47
4                    queue                   186
5                   result                    11
6   number_of_interactions                   425
7          wrap_upduration                  9266
8               queue_time                 41981
9                 duration                 41981
10               talk_time                 21736
11               hold_time                 13700
12     agent_handling_time                 24556

Number of duplicate rows:
0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196719 entries, 0 to 196718
Data columns (total 13 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   direction               196719 non-null  object
 1   type                    196719 non-null  object
 2   dateofqueue             196719 non-null  object
 3   groupname               196719 non-null  object
 4   queue                   196719 non-null  object
 5   result                  196719 non-null  object
 6   number_of_interactions  196719 non-null  int64
 7   wrap_upduration         196719 non-null  float64
 8   queue_time              196719 non-null  float64
 9   duration                196719 non-null  float64
 10  talk_time               196719 non-null  float64
 11  hold_time               196719 non-null  float64
 12  agent_handling_time     196719 non-null  float64
dtypes: float64(6), int64(1), object(6)
memory usage: 19.5+ MB
DataFrame: df_name

None

Summary statistics:

,number_of_interactions,wrap_upduration,queue_time,duration,talk_time,hold_time,agent_handling_time
count,196719.000000,1.967190e+05,1.967190e+05,1.967190e+05,196719.000000,1.967190e+05,1.967190e+05
mean,12.286332,7.877445e+02,3.450321e+05,3.450321e+05,3075.452630,7.691761e+03,4.469848e+03
std,33.501948,9.311911e+03,4.063791e+06,4.063791e+06,8556.235436,5.105175e+05,1.792879e+04
min,1.000000,0.000000e+00,-3.200000e+01,-3.200000e+01,-98142.000000,0.000000e+00,0.000000e+00
25%,1.000000,0.000000e+00,2.810000e+02,2.810000e+02,0.000000,0.000000e+00,0.000000e+00
50%,3.000000,3.000000e+01,1.305000e+03,1.305000e+03,334.000000,0.000000e+00,4.800000e+02
75%,11.000000,2.720000e+02,6.913000e+03,6.913000e+03,2045.500000,1.080000e+02,2.688000e+03
max,4154.000000,2.313121e+06,6.078473e+08,6.078473e+08,310823.000000,2.212321e+08,2.334216e+06

End of data validation
#########################################################################################################################################################################################

In [50]:
mf.export_to_csv(
    aggregated_interactions,
    directory = r'C:\Users\jf79\OneDrive - Office Shared Service\Sharepoint Links\BI - Corporate - Interactions Data',
    df_name='Netcall Dashboard Data'
)

Exproting Netcall Dashboard Data to CSV...
@ C:\Users\jf79\OneDrive - Office Shared Service\Sharepoint Links\BI - Corporate - Interactions Data\Netcall Dashboard Data.csv

Successfully exported Netcall Dashboard Data to CSV